﻿@model LoggedIn.Models.User;

@{
    ViewData["Title"] = "Login";
}

<h1>Login With Your New Account</h1>
<hr />
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <form asp-controller="User" asp-action="LoggingIn">
                    <div asp-validation-summary="ModelOnly" class="text-danger" />
                    <div class="form-group">
                        <label asp-for="Username" class="control-label" />
                        <input asp-for="Username" class="form-control" type="text" placeholder="Username" />
                        <span asp-validation-for="Username" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label" />
                        <input asp-for="Password" class="form-control" type="password" placeholder="Password" />
                        <span asp-validation-for="Password" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <div class="text-center">
                            <input type="submit" value="Login" class="btn btn-success" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>